body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#title_box {
    position: absolute;
    text-align: center;
    color: #9B937C;
    width: 100%;
    top: 40%;
}
#title {
    font-family: "Arial";
    font-size: 70pt;
}
#subtitle {
    font-family: "Arial";
    font-size: 40pt;
}